@charset "UTF-8";
@import '../fonts/inter/stylesheet.css';
@import '../fonts/proxima-nova/stylesheet.css';
@import '../fonts/gilroy/stylesheet.css';
@import '../fonts/nunito-sans/stylesheet.css';
@font-face {
  font-family: BBrickO;
  src: url(../fonts/BBrick.otf);
}
@font-face {
  font-family: BbrickT;
  src: url(../fonts/BBrick.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background: url(../images/shum.png);
}

body.lock {
  overflow: hidden;
}

main {
  padding-top: 80px;
  min-height: 100%;
}

nav {
  z-index: 55;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.none {
  display: none;
}

.news_section {
  padding-top: 80px;
  overflow-x: hidden;
  padding-bottom: 120px;
}

.ikkita_sektion {
  display: flex;
  justify-content: space-between;
}

.back_img {
  max-width: 1009.4px;
  -webkit-filter: brightness(70%);
  transition: all 1s ease;
  border: 1px solid #4e4e4e;
  border-radius: 20px;
}

.back_img:hover {
  -webkit-filter: brightness(100%);
}

.news_column_items {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.column_item {
  max-width: 317px;
  min-height: 283px;
  background-color: #0e1014;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid #4e4e4e;
}

.column_item:hover {
  transition: 0.5s;
  transform: translateY(-15px);
}

.column_item_text {
  padding: 22px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.news_main {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.news_conference {
  border: 1px solid #4e4e4e;
  background-color: #0e1014;
  padding: 40px;
  border-radius: 20px;
  max-width: 1012px;
  max-height: 1755px;
}

.conference_title {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  padding-bottom: 40px;
}

.conference_text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #fff;
  padding-bottom: 50px;
}

.conference_background_img {
  padding-bottom: 40px;
}

.link_and_date {
  display: flex;
  justify-content: space-between;
}

.conference_link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgb(78, 78, 78);
}

.connect {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgb(78, 78, 78);
}

.sharenews {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  cursor: pointer;
}

.datenews {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

@media screen and (max-width: 1380px) {
  .news_conference {
    max-width: 990px;
  }
  .back_img {
    max-width: 990px;
  }
  .column_item {
    max-width: 310px;
  }
}
@media screen and (max-width: 1350px) {
  .news_conference {
    max-width: 900px;
  }
  .back_img {
    max-width: 900px;
  }
  .column_item {
    max-width: 280;
  }
}
@media screen and (max-width: 1250px) {
  .news_conference {
    max-width: 850px;
  }
  .back_img {
    max-width: 850px;
  }
  .column_item {
    max-width: 300px;
  }
}
@media screen and (max-width: 1200px) {
  .news_column_items {
    display: none;
  }
  .for_section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
  }
}
@media screen and (max-width: 880px) {
  .news_main {
    max-width: 845px;
  }
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(23, 25, 29, 0.7);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

.nav {
  padding: 17px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo_top {
  font-family: Inter;
  font-weight: 500;
  font-size: 30px;
  line-height: 167%;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .logo_top.desktop {
    display: none;
  }
}

.logo_top.mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .logo_top.mobile {
    order: 1;
    display: block;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    font-family: BBrickO;
  }
}

@media screen and (max-width: 1024px) {
  .forTabletBtnandImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.forTabletDL {
  display: none;
}
@media screen and (max-width: 1024px) {
  .forTabletDL {
    display: block;
    order: 2;
  }
}

.forTabletDL.mobile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #6911AD;
}

.forTabletMenuBtn {
  display: none;
}
@media screen and (max-width: 1024px) {
  .forTabletMenuBtn {
    width: 24px;
    height: 19px;
    display: block;
    transition: 0.3s ease;
  }
}

@media screen and (max-width: 1024px) {
  .forTabletMenuBtn.active {
    transform: rotate(360deg);
  }
}

.inMboile_menu_top {
  display: none;
}
@media screen and (max-width: 1024px) {
  .inMboile_menu_top {
    width: 100%;
    height: 74px;
    padding: 25px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(23, 25, 29, 0.9);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .inMboile_menu_top a {
    order: 0 !important;
  }
}

.forTabletMenu {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .forTabletMenu {
    position: absolute;
    z-index: 20;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background: rgba(23, 25, 29, 0.9);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    transition: 0.5s ease;
  }
  .forTabletMenu li {
    padding-left: 25px;
  }
  .forTabletMenu .last {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .forTabletMenu.active {
    left: 0;
  }
}

.menu {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
@media screen and (max-width: 1024px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
}

.menu__link {
  font-family: Proxima Nova;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .menu__link {
    font-size: 17px;
  }
}
@media screen and (max-width: 1024px) {
  .menu__link {
    font-size: 25px;
  }
}

.menu-right {
  display: flex;
  -moz-column-gap: 31px;
       column-gap: 31px;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .menu-right {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .menu-right {
    display: none;
  }
}

.menu-right__btn1 {
  position: relative;
  width: 93px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #AAAAAA;
  border-radius: 40px;
  cursor: pointer;
}

.menu-right__btn1 div {
  z-index: -5;
  position: relative;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 36px;
  height: 36px;
  background: #5454D4;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .menu-right__btn1.inMenu {
    display: none;
  }
}

.contacts-top {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.contacts-top__link {
  font-family: Proxima Nova;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}
.contacts-top__link:last-child {
  font-size: 14px;
  line-height: 17px;
}
@media screen and (max-width: 1200px) {
  .contacts-top__link {
    font-size: 17px;
  }
}

.menu-right__btn2 {
  padding: 13px 21px;
  font-family: Proxima Nova;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  border: none;
  border-radius: 7px;
  background-color: #6911AD;
  color: #fff;
  cursor: pointer;
}

.inMobile_menu-right__btn2 {
  display: none;
}
@media screen and (max-width: 1024px) {
  .inMobile_menu-right__btn2 {
    margin-top: 35vh;
    display: block;
    background-color: #6911AD;
    border-radius: 141px;
    padding: 21px 44px;
    font-family: Proxima Nova;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
  }
}

footer {
  position: relative;
  z-index: -5;
  padding: 81px 0;
  background: rgba(14, 16, 20, 0.9);
  border-top: 1px solid #4E4E4E;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 20px 20px 0px 0px;
  color: #fff;
  font-family: Proxima Nova;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .footer {
    flex-direction: column;
    row-gap: 25px;
  }
}

.logo_bottom {
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  letter-spacing: 0.06em;
  color: #fff;
}
@media screen and (max-width: 720px) {
  .logo_bottom {
    display: none;
  }
}

.logo_bottom.mobile {
  display: none;
  font-family: BBrickO;
  font-weight: 400;
  display: none;
}
@media screen and (max-width: 720px) {
  .logo_bottom.mobile {
    display: block;
  }
}

.adress-bottom {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.adress-bottom__item {
  display: flex;
  flex-direction: column;
}
.adress-bottom__item a {
  font-weight: 600;
  font-size: 16px;
  line-height: 156%;
  color: #fff;
}

.phone-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
.phone-bottom__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.phone-bottom__item a {
  color: #fff;
}

.socials-bottom {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.socials-bottom a {
  transition: 0.3s ease;
}
.socials-bottom a:hover {
  transform: scale(1.4);
}

.hero {
  background: url(../images/setka.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 223px;
  padding-bottom: 120px;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .hero {
    padding-top: 113px;
    padding-bottom: 54px;
  }
}

.abselement {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  z-index: -10;
}

.element_1 {
  top: 25%;
  left: 0;
}
@media screen and (max-width: 1024px) {
  .element_1 {
    top: 50%;
  }
}

.element_2 {
  top: 0;
  right: 0;
}

.hero_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .hero_wrapper {
    flex-direction: column;
  }
}

.hero__text-wrapper {
  max-width: 549px;
  font-family: Proxima Nova;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .hero__text-wrapper {
    order: 1;
    text-align: center;
  }
}

.hero__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 40px;
}

.hero__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 180px;
}
@media screen and (max-width: 1024px) {
  .hero__text {
    margin-bottom: 140px;
  }
}

.hero__btn {
  display: block;
  width: 150px;
  height: 70px;
  position: relative;
  cursor: pointer;
}
.hero__btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #6911AD;
  transition: 0.5s ease;
}
.hero__btn::before {
  content: "Портфолио";
  font-family: Proxima Nova;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: 1;
  color: #fff;
  transition: 0.5s linear;
}
.hero__btn:hover::after {
  width: 100%;
  border-radius: 141px;
}
.hero__btn:hover::before {
  transform: translate(-5px, -23px);
}
@media screen and (max-width: 1024px) {
  .hero__btn {
    display: none;
  }
}

.hero__btn-mobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  .hero__btn-mobile {
    font-family: Proxima Nova;
    width: 177px;
    height: 50px;
    background-color: #6911AD;
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    border-radius: 141px;
    border: none;
    color: #fff;
    margin: 0 auto;
  }
}

.portfolio_form {
  background: rgba(14, 16, 20, 0.6);
  border: 1px solid #4E4E4E;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 20px;
  width: 94%;
  margin: auto;
}

.form__left-h2 {
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 32px;
  max-width: 640px;
  line-height: 39px;
  color: #e8e6e6;
}

.form_left {
  padding: 80px 70px 60px 60px;
}

.form input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #AAAAAA;
  width: 499px;
  display: block;
  margin-bottom: 40px;
  color: white;
  font-size: 20p;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.checked {
  display: flex;
  justify-content: flex-start;
}

.form_checkbox input {
  display: block;
}

.form_check_h2 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.form_checkbox_flex {
  display: flex;
  align-items: center;
}
.form_checkbox_flex label {
  color: white;
  padding-left: 10px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
}

.responsive_form {
  display: flex;
  margin-top: 34px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

.form_checkbox_flex {
  margin-bottom: 30px;
}

.form_right {
  background: rgba(83, 83, 83, 0.1019607843);
  box-shadow: 20px 20px 40px rgba(241, 216, 253, 0.08);
  height: 602px;
  border-radius: 10px;
  border-radius: 10px;
  width: 487px;
}
.form_right h4 {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding-top: 40px;
  color: #FFFFFF;
}

.portfolio_form {
  display: flex;
  align-items: center;
  padding-right: 80px;
}
@media screen and (max-width: 1024px) {
  .portfolio_form {
    display: block;
  }
}

.port_image {
  display: flex;
  -moz-column-gap: 68px;
       column-gap: 68px;
}

.port_image1 {
  margin-bottom: 100px;
}

.form_right_image {
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_right {
  position: relative;
}

@media (max-width: 1020px) {
  .form input {
    width: 300px;
  }
  .form_left {
    margin: 0 auto;
    display: block;
  }
  .form_right {
    margin: 0 auto;
    display: block;
    justify-content: center;
    width: 400px;
  }
}
.h1 {
  font-family: Proxima Nova;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
@media screen and (max-width: 720px) {
  .h1 {
    font-size: 24px;
  }
}

.portfolio__tittle {
  margin-bottom: 40px;
}

.portfolio__tittle-buttons {
  width: 664px;
  border-radius: 90px;
  background: rgba(17, 19, 23, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 0.3px solid #4E4E4E;
  height: 55px;
  height: 100%;
  display: block;
  margin: auto;
}
.portfolio__tittle-buttons .portfolio__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio__tittle-buttons .portfolio__button .port__button_hover {
  background: transparent;
}
.portfolio__tittle-buttons .gradients {
  background: linear-gradient(93.5deg, #1E11AD 12.37%, rgba(105, 17, 173, 0.95) 85.28%);
  transition: 0.3s;
}
.portfolio__tittle-buttons .btn_prt {
  background: linear-gradient(93.5deg, #1E11AD 12.37%, rgba(105, 17, 173, 0.95) 85.28%);
}
.portfolio__tittle-buttons button {
  border-radius: 30px;
  font-family: Proxima Nova;
  transition: 0.3s;
  background-color: transparent;
  font-style: normal;
  font-weight: 600;
  padding: 15px 32px;
  height: 100%;
  border: none;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
@media screen and (max-width: 720px) {
  .portfolio__tittle-buttons {
    display: none;
  }
}

.cards_grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 120px;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  height: 100%;
}
.cards_grid img {
  border-radius: 20px;
  max-width: 403px;
}
@media screen and (max-width: 720px) {
  .cards_grid img {
    margin: 0 auto;
    max-width: 350px;
    justify-content: center;
  }
}
.cards_grid .portfolio__buttons {
  padding: 9px 30px;
  border: none;
  background: #FFFFFF;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 2;
  right: 60px;
  top: 15px;
}
@media screen and (max-width: 720px) {
  .cards_grid {
    margin: 0 auto;
    justify-content: center;
    place-self: center;
  }
}

.card_grid_child {
  position: relative;
}

.card_grid_child_child {
  position: absolute;
  border-radius: 20px;
  cursor: pointer;
  width: 93%;
  opacity: 0;
  transition: 0.2s linear;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card_grid_child_child img {
  position: absolute;
  right: 0;
}
.card_grid_child_child h3 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #FFFFFF;
}

.card_grid:hover .card_grid_child_child {
  transition: 0.3s ease-in-out;
  opacity: 1;
}

.news_section {
  padding-top: 80px;
  overflow-x: hidden;
  padding-bottom: 120px;
}

.ikkita_sektion {
  display: flex;
  justify-content: space-between;
}

.back_img {
  max-width: 1009.4px;
  -webkit-filter: brightness(70%);
  transition: all 1s ease;
  border: 1px solid #4e4e4e;
  border-radius: 20px;
}

.back_img:hover {
  -webkit-filter: brightness(100%);
}

.news_column_items {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.column_item {
  max-width: 317px;
  min-height: 283px;
  background-color: #0e1014;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
  border: 1px solid #4e4e4e;
}

.column_item:hover {
  transition: 0.5s;
  transform: translateY(-15px);
}

.column_item_text {
  padding: 22px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.news_main {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.news_conference {
  border: 1px solid #4e4e4e;
  background-color: #0e1014;
  padding: 40px;
  border-radius: 20px;
  max-width: 1012px;
  max-height: 1755px;
}

.conference_title {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  padding-bottom: 40px;
}

.conference_text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #fff;
  padding-bottom: 50px;
}

.conference_background_img {
  padding-bottom: 40px;
}

.link_and_date {
  display: flex;
  justify-content: space-between;
}

.conference_link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgb(78, 78, 78);
}

.connect {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: rgb(78, 78, 78);
}

.sharenews {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  cursor: pointer;
}

.datenews {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

@media screen and (max-width: 1380px) {
  .news_conference {
    max-width: 990px;
  }
  .back_img {
    max-width: 990px;
  }
  .column_item {
    max-width: 310px;
  }
}
@media screen and (max-width: 1350px) {
  .news_conference {
    max-width: 900px;
  }
  .back_img {
    max-width: 900px;
  }
  .column_item {
    max-width: 280;
  }
}
@media screen and (max-width: 1250px) {
  .news_conference {
    max-width: 850px;
  }
  .back_img {
    max-width: 850px;
  }
  .column_item {
    max-width: 300px;
  }
}
@media screen and (max-width: 1200px) {
  .news_column_items {
    display: none;
  }
  .for_section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50px;
  }
}
@media screen and (max-width: 880px) {
  .news_main {
    max-width: 845px;
  }
}/*# sourceMappingURL=main.css.map */