@import '../fonts/inter/stylesheet.css';
@import '../fonts/proxima-nova/stylesheet.css';
@import '../fonts/gilroy/stylesheet.css';
@import '../fonts/nunito-sans/stylesheet.css';
@font-face {
    font-family: BBrickO;
    src: url(../fonts/BBrick.otf);
}

@font-face {
    font-family: BbrickT;
    src: url(../fonts/BBrick.ttf);
}