$binafshaColor: #6911AD;
$mainColor: #1E1E1E;
$color1:rgba(14, 16, 20, 1);
$color2:rgba(78, 78, 78, 1);
$whiteColor: #fff;
$novaFont: Proxima Nova;
$interFont: Inter;
$gilroyFont: Gilroy;
$nunitoFont: Nunito Sans;
$bananaFont: BBrickO;